
<div class="container">
  <div class="w3-container">
  <% begin %>
 <% if ! @result["data"]["returnflights"].empty? %>
   
   <h3 class=" center"> Choose the Flight : </h3>

<div class="card-deck mb-3 text-center">
   <div class="row"> 
     <% @result["data"]["returnflights"].each do |x| %>
     <div class="col-sm-4" >
                <div class="card mb-4 box-shadow w3-pale-green">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><%= x["airline"] %> </h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"> <small>
                     <%= image_tag(x["airline"].downcase,alt: "Image Unavailable",  size: "70"   ) %>
                </small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li><strong><%= x["origin"] %> --> <%= x["destination"] %></strong></li>
                      <li>Depature : <%= x["deptime"] %></li>
                      <li>Duration :<%=  x["duration"] %></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Book</button>
                  </div>
                </div>

    </div>            
           <% end %>
  </div>
</div>
 
  <% end %>
<% end %> 
 </div>
</div>
