<!-- <h3> he </h3>

<div id="result" >
  
</div>


 -->
<br>
<br>
<hr>
<% if user_signed_in? %>

<section class="intro">
   <row>
 <% begin %>
<!-- ******************************************LEFT SPLIT ******************************************** -->
  <!-- class="w3-pale-red" -->
 <div class="w3-light-grey">
<hr><hr></div>
  <div>
   <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->

        <div class="container" id="go">
          <div class="w3-container">
          <% begin %>
          <% count1 = 0 %> 
         <% if !@result["data"]["onwardflights"].empty? %>
           
           <strong> <h3 class=" center"> Onward Flights :</h3> </strong>

        <div class="card-deck mb-3 text-center">
           <div class="row"> 
             <% @result["data"]["onwardflights"].each do |x| %>
              <% if x["destination"] == params[:dest].to_s && x["origin"] == params[:src].to_s %>
                 <% count1 += 1 %>
                 <div class="col-sm-4">

                            <div class="card mb-4 box-shadow w3-pale-green">
                                <div class="card-header">
                                  <h4 class="my-0 font-weight-normal"><%= x["airline"] %> </h4>
                                </div>
                                <div class="card-body">
                                  <h1 class="card-title pricing-card-title"> <small>
                        <%= image_tag(x["airline"].downcase.to_s + ".png",alt: "Image Unavailable",  size: "70"   ) %>
                                 </small></h1>
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li><strong><%= x["origin"] %> --> <%= x["destination"] %></strong></li>
                                    <li>Depature : <%= x["deptime"] %></li>
                                    <li>Duration :<%=  x["duration"] %></li>
                                  </ul>
                                 <!-- Button trigger modal -->
                            
                      <button type="button" class="btn btn-primary btn-block " data-toggle="modal" data-target="#exampleModalCenter<%= count1 %>">
                         Fare</button>
                                </div>

                 
                        </div>   <!-- w3 pale -->

                            <!-- *********************  MODAL **************************** -->
                           

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter<%= count1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Fare</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="color: black ;">

                                    <b>Base Fare:</b> <%= x["fare"]["adultbasefare"] %> ||
                                    <b>Extra Fares:</b> <%= x["fare"]["grossamount"] - x["fare"]["adultbasefare"] %>
                                    <br>
                                    <strong>Total Fare : <%= x["fare"]["grossamount"] %> </strong>
                                    <br>
                                    <strong>Total Bookings : <%= @total %> </strong>
                                     <ul>
                                     <li>Adult: <%= @param1 %></li>
                                     <li>Children: <%= @param2 %></li>
                                     <li>Infant:<%= @param3 %></li>
                                     </ul>
                                   <div class="w3-pale-green"><h3> Total Fair ( <%= @total %> * <%=x["fare"]["grossamount"] %>  ) : <%= @total * x["fare"]["grossamount"] %> </h3></div>
                                    </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- *********************  MODAL **************************** -->



                </div>    <!-- col sm 4 -->            
                <% end %> 
              <% end %>
          </div>
        </div>
         
          <% end %>
        <% end %> 
         </div>
        </div>



   <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
  </div>
<!-- ******************************************RIGHT SPLIT ******************************************** -->
<<div class="w3-light-grey">
<hr><hr></div>

  <div>
      <!--    &&&&&&&&&&&&&&&&&&&& -->
               <div class="container" id="go">
              <div class="w3-container">
              <% begin %>
              <% f = "xx" %>
              <% count2= 0 %> 
             <% if !@result["data"]["returnflights"].empty? %>
               
               <strong> <h3 class=" center"> Return Flight :</h3> </strong>

            <div class="card-deck mb-3 text-center">
               <div class="row"> 
                 <% @result["data"]["returnflights"].each do |x| %>
                  <% if x["destination"] == params[:src].to_s && x["origin"] == params[:dest].to_s%>
                     <% count2 += 1 %>
                     <div class="col-sm-4">

                                <div class="card mb-4 box-shadow w3-pale-green">
                                    <div class="card-header">
                                      <h4 class="my-0 font-weight-normal"><%= x["airline"] %> </h4>
                                    </div>
                                    <div class="card-body">
                                      <h1 class="card-title pricing-card-title"> <small>
                           <%= image_tag(x["airline"].downcase.to_s + ".png",alt: "Image Unavailable",  size: "70"   ) %>
                                     </small></h1>
                                      <ul class="list-unstyled mt-3 mb-4">
                                        <li><strong><%= x["origin"] %> --> <%= x["destination"] %></strong></li>
                                        <li>Depature : <%= x["deptime"] %></li>
                                        <li>Duration :<%=  x["duration"] %></li>
                                      </ul>
                                     <!-- Button trigger modal -->
                                
                          <button type="button" class="btn btn-primary btn-block " data-toggle="modal" data-target="#exampleModalCenter<%= f %><%= count2 %>">
                             Fare</button>
                                    </div>

                     
                                </div>   <!-- w3 pale -->

                                <!-- *********************  MODAL **************************** -->
                               

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter<%= f %><%= count2 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Fare</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">

                                        <b>Base Fare:</b> <%= x["fare"]["adultbasefare"] %> ||
                                        <b>Extra Fares:</b> <%= x["fare"]["grossamount"] - x["fare"]["adultbasefare"] %>
                                        <br>
                                        <strong>Total Fare : <%= x["fare"]["grossamount"] %> </strong>
                                        <br>
                                        <strong>Total Bookings : <%= @total %> </strong>
                                         <ul>
                                         <li>Adult: <%= @param1 %></li>
                                         <li>Children: <%= @param2 %></li>
                                         <li>Infant:<%= @param3 %></li>
                                         </ul>
                                       <div class="w3-pale-green"><h3> Total Fair ( <%= @total %> * <%=x["fare"]["grossamount"] %>  ) : <%= @total * x["fare"]["grossamount"] %> </h3></div>
                                        </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Confirm</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- *********************  MODAL **************************** -->



                    </div>    <!-- col sm 4 -->            
                    <% end %> 
                  <% end %>
              </div>
            </div>
             
              <% end %>
            <% end %> 
             </div>
      </div>


      <!--  &&&&&&&&&&&&&&&&&&&&&  -->
  
    </div>
<!-- ***********************************************SPLIT END ***************************************************** -->
  <% rescue => e %>
   <% puts "failed #{e}" %>
  <% end %>  
</row>
</section>

<% else %>
<br><br><br><br>
<div class="container">
	<div class="jumbotron center"><h1>
	Sign Up First</h1></div>

</div>
<% end %>