<!DOCTYPE html>
<html>
  <head>
    <title>Bookflight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor="#E6E6FA">

<!-- *********************************************Nav Bar******************************************************** -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header active">
    <strong><%= link_to "FlightBooking", class: "active navbar-brand" %></strong>  
    </div>
    <ul class="nav navbar-nav">

      <li > <%= link_to "Home"  %>  </li>
      <li ><%= link_to "Contact" %></li>
      <li > <%= link_to "How to Use " %></li>
      <li><%= link_to "Policy" %><li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <div style="padding-top: 7px; padding-right: 8px;">
 <% unless current_user %> 
      
      <%= link_to "Sign Up", user_facebook_omniauth_authorize_path , class: "btn btn-success" %>
      <% else %>
      <% current_user[:name] %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-danger" %>
   
    <% end %>      
      </div>
     </ul>
  </div>
</nav>



  
    <%= yield %>
  </body>
</html>
