  <!DOCTYPE html>
<html>
  <head>
    <title>Bookflight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   <style>
   body{
    background-color:rgba(0,0,255,0.3);
   }
      
  </style>
  <script>
  function validateForm() {
      var x = document.getElementsByClassName("terminal1");
      var y = document.getElementsByClassName("terminal2");
      console.log(x);
      console.log(y);
      if (x == y) {
          alert("Departure & Arrival Can't be same");
      }
  }
  </script>

  </head>

  
  <body>
     
 
 <section class="banner" id="top">
  
<!-- *********************************************Nav Bar******************************************************** -->
    
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header active">
            </div>
            <ul class="nav navbar-nav">

              <li > <%= link_to "Home"  %>  </li>
              <li><%= link_to "Policy" %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <div style="padding-top: 7px; padding-right: 8px;">
         <% unless current_user %> 
              
              <%= link_to "Sign Up", user_facebook_omniauth_authorize_path , class: "btn btn-success" %>
              <% else %>
              <% current_user[:name] %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-danger" %>
           
            <% end %>      
              </div>
             </ul>
          </div>
        </nav>



<!-- ******************************************************************************************************** -->
      <div class="container">
        <div class="row">
                      <div class="col-md-5">
                          <div class="left-side">
                              <div class="logo">
                                  <img src= " <%= asset_path "logo.png" %>" alt="Flight Template">
                              </div>
                              <% if user_signed_in? %>
                              <h4 class="tabs-content" style="color: white">Welcome , <%= current_user.name %></h4>
                              <% end %>
                              <div class="tabs-content">
                                  <h4>Choose Your Direction:</h4>
                                  <ul class="social-links">
                                      <li><a href="https://www.facebook.com/PankajSharma1181998">Find me on <em>Facebook</em><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="https://www.linkedin.com/in/pankaj-s-096865b5/ ">Connect on <em>LinkedIn</em> <i class="fa fa-youtube"></i></a></li>
                                      <li><a href="https://github.com/pankaj1181998">Check Out <em>Github</em><i class="fa fa-instagram"></i></a></li>
                                  </ul>
                              </div>
                              
                          </div>
                      </div>


<!-- ******************************************************************************************************** -->

 <!--   
  <div class="spinner" id="spinner">  
    <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
    </div>
 </div> -->

 <%= form_tag("/book/flight", method: "post ") do %> 
  
  <div class="col-md-5 col-md-offset-1">
              
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="submit-form">
                                <h4>Check availability for <em>direction</em>:</h4>
                                    <div class="row">
                                      <div class="col-md-6">
                                          <fieldset>
                                              <label for="from">From:</label>
                                             <%= select_tag(:src, options_for_select(@codes),:class => "terminal1") %> 
                                          </fieldset>
                                      </div>
                                      

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="to">To:</label>
                                            <%= select_tag(:dest, options_for_select(@codes),:class => "terminal2") %>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="departure">Departure date:</label>
                                        <%= select_date Date.today, prefix: :start_date ,:class => "form-control" %>
                                            
                                        </fieldset>
                                     </div>
                                   
                                   <div class="col-md-6">
                                        <fieldset>
                                            <label for="departure">Return date:</label>
                                        <%= select_date Date.today, prefix: :end_date ,:class => "form-control" %>
                                            
                                        </fieldset>
                                     </div>

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="return">Adults(1-9):</label>
                                  <%= text_field_tag :adults , "" , class: "form-control" , id: "return" ,required: true %>
                                        </fieldset>
                                    </div> ,

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="return">Children(0-9):</label>
                                 <%= text_field_tag :child , "" , class: "form-control" , id: "return", required: true %>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="return">Infants:</label>
                                      <%= text_field_tag :infants , "" , class: "form-control" , id: "return", required: true  %>
                                        </fieldset>
                                    </div>

                                      <div class="col-md-6">
                                         <label for="to">Class:</label>
                                   <%= select_tag(:class, options_for_select([["Economy", "E"], ["Business", "B"]] ) ) %>
                                      </div>


                                      <div class="col-md-6">
                                          <fieldset>
                                          <button type="submit" id="form-submit button-upload" class="btn btn-success submit" >Order Ticket Now</button>
                                          </fieldset>
                                      </div>

                                  </div>
                                  
                              </div>
                          </div>
                      </section>
                  </div>
 <% end %>


<!-- ********************************************************************************************************** -->
          </div>
        </div>
    </section>

  <%= yield %>

   
  
   
  
    

   
  </body>
</html>
