<!DOCTYPE html>
<html>
  <head>
    <title>Bookflight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body >
 <section class="banner" id="top">
  
<!-- *********************************************Nav Bar******************************************************** -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header active">
    <strong><%= link_to "FlightBooking", class: "active navbar-brand" %></strong>  
    </div>
    <ul class="nav navbar-nav">

      <li > <%= link_to "Home"  %>  </li>
      <li ><%= link_to "Contact" %></li>
      <li > <%= link_to "How to Use " %></li>
      <li><%= link_to "Policy" %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <div style="padding-top: 7px; padding-right: 8px;">
 <% unless current_user %> 
      
      <%= link_to "Sign Up", user_facebook_omniauth_authorize_path , class: "btn btn-success" %>
      <% else %>
      <% current_user[:name] %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-danger" %>
   
    <% end %>      
      </div>
     </ul>
  </div>
</nav>


<!-- ******************************************************************************************************** -->
      <div class="container">
        <div class="row">
                      <div class="col-md-5">
                          <div class="left-side">
                              <div class="logo">
                                  <img src= " <%= asset_path "logo.png" %> " alt="Flight Template">
                              </div>
                              <div class="tabs-content">
                                  <h4>Choose Your Direction:</h4>
                                  <ul class="social-links">
                                      <li><a href="http://facebook.com">Find us on <em>Facebook</em><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="http://youtube.com">Our <em>YouTube</em> Channel<i class="fa fa-youtube"></i></a></li>
                                      <li><a href="http://instagram.com">Follow our <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                                  </ul>
                              </div>
                              <div class="page-direction-button">
                                  <a href="contact.html"><i class="fa fa-phone"></i>Contact Us Now</a>
                              </div>
                          </div>
                      </div>


<!-- ******************************************************************************************************** -->


       <%= yield %>


          </div>
        </div>
    </section>
  


  </body>
</html>
